In [1]:
import numpy as np
import pandas as pd
colnames=['subject','unknown','nums','xcoor','ycoor','pupsize','timing','trial','experiment','tone1','tone2','condition','image']
df_podcdat = pd.read_csv('podcdat.csv', names=colnames)
#put timing column into list to make easier to work with pandas
timing = df_podcdat.timing.tolist()
pupsize = df_podcdat.pupsize.tolist()

In [2]:
new_timing=[]
for i in range(len(timing)):#Start from begining to end of timing list
    num = timing[i]#set num = to timing at specific location in list
    if num%2 !=0:# if number divided by 2 has a remainder that is not 0
        num = num + 1 # take that number with the nonzero remainder and add one to it
        new_timing.append(num)# take the new number and append it to the new_timing list
    else:# if the number is even
        new_timing.append(num)# take the even number and append it to the new_timing list
(len(timing),len(new_timing)) # show me the length of the old timing list with the new timing list to double check we
# have the same number of values

(133522, 133522)

In [3]:
colnames_2=['new_timing']
df_new_timing = pd.read_csv('out.csv', names=colnames_2)
#combining two data sets df_podcdat with new_timing
result = pd.concat([df_podcdat, df_new_timing], axis=1)
#reordering the combined data sets so that the new timing and old timing are next to each other
result = result[['subject','unknown','nums','xcoor','ycoor','pupsize','timing','new_timing','trial','experiment','tone1','tone2','condition','image']]

In [4]:
pup_zeros=[]
for i in range(len(pupsize)):#Start from begining to end of pupsize list
    num = pupsize[i]#set num = to pupsize at specific location in list, index?
    if num == 0:# if number is 0
        pup_zeros.append(i)# take the index location and append it to the pup_zeros list
(len(pupsize),len(pup_zeros)) # show me the length of the pupsize list with the pup_zeros list to check it looks right

(133522, 3967)

In [ ]:
pup_array=np.asarray(pupsize)
np.where(pup_array==0)
#hi=np.where(pup_array==0)
#hi
#hey=(pup_array==0).sum()
#hey

In [111]:
pz = pd.DataFrame(pup_zeros)
pup_all = pd.DataFrame().reindex_like(pz)
before = pd.DataFrame().reindex_like(pz)
after = pd.DataFrame().reindex_like(pz)

In [112]:
pup_all = pup_all.rename(columns = {0:'original'})
pup_all.head()

   original
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

In [113]:
before = before.rename(columns = {0:'before'})
before.head()

   before
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [114]:
after = after.rename(columns = {0:'after'})
after.head()

   after
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

In [115]:
pup_all = pd.concat([pup_all, before, after],axis=1)
pup_all.head()

   original  before  after
0       NaN     NaN    NaN
1       NaN     NaN    NaN
2       NaN     NaN    NaN
3       NaN     NaN    NaN
4       NaN     NaN    NaN

In [123]:
for i in range(len(pup_zeros)):
    pup_all.original[i] = pup_zeros[i]
    pup_all.before[i] = pup_zeros[i] - 75
    pup_all.after[i] = pup_zeros[i] + 75

In [124]:
pup_all.head()

   original  before  after
0     350.0   275.0  425.0
1     351.0   276.0  426.0
2     352.0   277.0  427.0
3     353.0   278.0  428.0
4     354.0   279.0  429.0

In [133]:
pup_all.before[0]

275.0

In [ ]:
pup_all.before.set_value

In [128]:
#result.pupsize[(result.pupsize[275,425])]=np.nan

In [153]:
for i in range(len(pup_all)):
    #result.set_value(#beforetime:#after number,@column pupsize, None)
    #result.set_value((pup_all.before[i]:pup_all.after[i]),result.pupsize,None)
    result.set_value((pup_all.before[i]),result.pupsize,None)

KeyError: '[714 714 713 ..., 252 252 252] not in index'

In [150]:
result.pupsize = result.pupsize.replace(range(275,425), None)

In [151]:
whos

Variable          Type         Data/Info
----------------------------------------
after             DataFrame          after\n0       NaN\<...>\n[3967 rows x 1 columns]
before            DataFrame          before\n0        Na<...>\n[3967 rows x 1 columns]
colnames          list         n=13
colnames_2        list         n=1
df_new_timing     DataFrame            new_timing\n0    <...>[133522 rows x 1 columns]
df_podcdat        DataFrame              subject  unknow<...>133522 rows x 13 columns]
i                 int          3966
new_timing        list         n=133522
np                module       <module 'numpy' from '/Ap<...>kages/numpy/__init__.py'>
num               int          411
pd                module       <module 'pandas' from '/A<...>ages/pandas/__init__.py'>
pup_above_below   range        range(133323, 133473)
pup_all           DataFrame          original    before <...>\n[3967 rows x 3 columns]
pup_zeros         list         n=3967
pupsize           list         n=133522
pz                DataFrame               0\n0        35<...>\n[3967 rows x 1 columns]
result            DataFrame              subject  unknow<...>133522 rows x 14 columns]
start             int          133323
stop              int          133473
timing            list         n=133522

In [ ]:
for i in range(len(pupsize)):
result.pupsize[(result.pupsize=pup_all.before.
df[(df>=-200) & (df<=-100)] = np.nan

In [7]:
pup_all=[]
for i in range(len(pupsize)):#Start from begining to end of pupsize list
    num = pupsize[i]#set num = to pupsize at specific location in list, index?
    if num == 0:# if number is 0
        start = i - 75
        stop = i + 75
        pup_above_below=range(start,stop)
        pup_all.append(list(pup_above_below))

Variable          Type         Data/Info
----------------------------------------
after             DataFrame          after\n0       NaN\<...>\n[3967 rows x 1 columns]
before            DataFrame          before\n0        Na<...>\n[3967 rows x 1 columns]
colnames          list         n=13
colnames_2        list         n=1
df_new_timing     DataFrame            new_timing\n0    <...>[133522 rows x 1 columns]
df_podcdat        DataFrame              subject  unknow<...>133522 rows x 13 columns]
i                 int          3966
new_timing        list         n=133522
np                module       <module 'numpy' from '/Ap<...>kages/numpy/__init__.py'>
num               int          411
pd                module       <module 'pandas' from '/A<...>ages/pandas/__init__.py'>
pup_above_below   range        range(133323, 133473)
pup_all           DataFrame          original    before <...>\n[3967 rows x 3 columns]
pup_zeros         list         n=3967
pupsize           list         n=133522
pz                DataFrame               0\n0        35<...>\n[3967 rows x 1 columns]
result            DataFrame              subject  unknow<...>133522 rows x 14 columns]
start             int          133323
stop              int          133473
timing            list         n=133522

In [ ]:
#np.where(i>(i-150))